{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  add Products
{% endblock title %}


{% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Add Products</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="subjects.html">Products</a>
        </li>
        <li class="breadcrumb-item active">Add Product</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <h5 class="form-title">
                <span>Product Information</span>
              </h5>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Title</label>
                {% render_field form.title class="form-control"  placeholder='Product name' required=true %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Category</label>
                {% render_field form.category class="form-control"  placeholder='Product name' required=true %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Type</label>
                {% render_field form.type class="form-control"  placeholder='Product Type' required=true %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Weight</label>
                {% render_field form.weight class="form-control"  placeholder='Product weight' required=true %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Price</label>
                {% render_field form.price_per_kilo class="form-control"  placeholder='Product Price' required=true %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Image</label>
                {% render_field form.image class="form-control"  placeholder='Product Price' required=true %}
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Description</label>
                {% render_field form.desc class="form-control"  placeholder='Product Description' required=true %}
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}