{% extends "base.html" %}

{% block title %}
  collecteurs
{% endblock title %}

{% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">collecteurs</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'collecteur:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">collecteurs</li>
      </ul>
    </div>
    {% if user.collecteur %}
      
    {% else %}
    <div class="col-auto text-right float-right ml-auto">
      <a href="{% url 'add_collectuer' %}" class="btn btn-outline-primary mr-2"
        ></i> add new collecteur</a
      >
      
    </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table
   id="table_id"
     class="table table-hover table-center mb-0 "
   > 
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>

                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>

                {% for persone in collecteurs %}
              <tr>
                <td>{{persone.id}}</td>
                <td>
                  <h2>
                    <a>{{persone.first_name}} {{persone.last_name}}</a>
                  </h2>
                </td>
                <td>{{persone.email}}</td>
                <td>{{persone.phone}}</td>
                <td>{{persone.address}}</td>
                <td class="text-right">
                  {% if user.collecteur %}
      
                  {% else %}                    
                  <div class="actions">
                    <a
                      href="{% url 'block' persone.id  %}"
                      class="btn btn-sm bg-success-light mr-2"
                    >
                    <i class="fas fa-user-alt-slash"></i>
                    </a>
                    <a href="{% url 'delete' persone.id  %}" class="btn btn-sm bg-danger-light">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                  {% endif %}

                </td>
              </tr>
                
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}