{% extends "base.html" %}

{% block title %}
  collecteurs
{% endblock title %}

{% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">collecteurs</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'collecteur:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">collecteurs</li>
      </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
      <a href="{% url 'add_collectuer' %}" class="btn btn-outline-primary mr-2"
        ></i> add new collecteur</a
      >
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table
   id="table_id"
     class="table table-hover table-center mb-0 "
   > 
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Vendeur</th>
                <th>Status</th>
                <th>Selected By</th>

                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>

              {% for cmd in commande %}
              <tr>
                <td>{{cmd.id}}</td>
                <td>
                  <h2>
                    <a>{{cmd.created_date}}</a>
                  </h2>
                </td>
                <td>{{cmd.user.first_name}} {{cmd.user.last_name}}  <br> {{cmd.user.phone}} </td>
                <td>
                  {% if cmd.selected %}
                  entrain de collecter
                  {% else %}
                  en attente
                  {% endif %}  
                </td>
                <td>
                  {% if cmd.selected %}
                    
                    <span class="badge badge-danger">{{cmd.celletuer.username}}</span>
                    {% else %}
                    <span class="badge badge-success">Not Selected yet</span>
                    
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if cmd.selected and cmd.celletuer == user %}
                  <div class="actions">
                    <a
                      href="{% url 'collecteur:cancel' cmd.id %}"
                      class="btn btn-danger btn-sm"
                    >
                    Cancel
                    </a>
                    <a href="{% url 'collecteur:delivered' cmd.id %}" class="btn btn-success btn-sm">
                      delivered
                    </a>
                  </div>
                  {% elif cmd.selected %}
                  <div class="actions">
                    <a
                      href="{% url 'block' cmd.id  %}"
                      class="btn btn-sm bg-success-light mr-2"
                    >
                    <i class="fas fa-user-alt-slash"></i>
                    </a>
                    <a href="{% url 'delete' cmd.id  %}" class="btn btn-sm bg-danger-light">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                  {% else %}
                    <a href="{% url 'collecteur:pick_command' cmd.id %}">pick</a> 
                    {% endif %}
                </td>
              </tr>
                
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}