<div id="sidebar-menu" class="sidebar-menu">
    <ul>
       <li class="menu-title">
          <span>Main Menu</span>
       </li>

       <li>
          <a href="{% url 'vendeur:categories' %}"><i class="fas fa-holly-berry"></i> <span>Categories</span></a>
       </li>
       <li>
          <a href="{% url 'vendeur:poubelle' %}"><i class="fas fa-comment-dollar"></i> <span>Pannier</span></a>
       </li>
       <li>
          <a href="{% url 'logout' %}"><i class="fas fa-calendar-day"></i> <span>Logout</span></a>
       </li>
       
    </ul>
 </div>