:root {
    --main-color: #3B8457;
  }
  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    background: #3B8457;
  }
  
  .contaner .home2 {
    background:black;
    position: fixed;
    top: 0;
    left: 0;
    width: 265px;
    height: 100%;
    padding: 20px 0;
  }
  
  .contaner .home2 .logo {
    margin: 47px 0 50px;
    text-align: center;
  }
  
  .contaner .home2 .logo img {
    display: block;
    width: 230px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .contaner .home2  ul li a {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #f3b73e;
    color: white;
    font-size: 16px;
    position: relative;
  }
  
  .contaner .home2  ul li a .icon {
    width: 30px;
    display: inline-block;
  }
  
  .contaner .home2  ul li a:hover {
    color: black;
    background: #3B8457;
    border-right: 2px solid #3B8457;
  }
  
  .contaner .home2  ul li a:hover .icon {
    color: black;
  }
  
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .stat-box {
    text-align: center;
    padding: 30px;
    background: #f3b73e;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 200px;
  }
  
  .stat-box h2 {
    margin: 0;
    font-size: 1.5em;
  }