{% extends "base.html" %} 
{% load static %} 
{% block title %} categories {% endblock title %} 
{% block content %}
<div class="comp-sec-wrapper">
  <section class="comp-section comp-cards">
    <div class="section-header">
      <h4 class="section-title">Categories</h4>
      <div class="line"></div>
    </div>
    <div class="row">
      {% for category in all_categories %}
      <div class="col-12 col-md-6 col-lg-4 d-flex">
        <div class="card flex-fill">
          {% if category.banner %}
          <img
            alt="Card Image"
            src="{{category.banner.url}}"
            class="card-img-top"
          />

          {% else %}
          <img
            alt="Card Image"
            src="{% static 'img/No_Image_Available.jpg' %}"
            class="card-img-top"
          />

          {% endif %}
          <div class="card-header">
            <h5 class="card-title mb-0">{{category.title}}</h5>
          </div>
          <div class="card-body">
            <a
              class="btn btn-primary"
              href="{% url 'vendeur:products' category.slug   %}"
              >details</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock content %}
