{% extends "base.html" %}
{% block title %}Categories{% endblock title %}
{% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Pannier</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Pannier</li>
      </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
      <a href="{% url 'vendeur:sendCommand' %}" class="btn btn-outline-primary mr-2">Set commanede</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table id="table_id" class="table table-hover table-center mb-0">
            <thead>
              <tr>
                <th> ID</th>
                <th> Name</th>
                <th> DZD / Kg</th>
                <th> Quantity</th>
                <th> total</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in poubelle %}
              <tr>
                <td>{{ item.produit.id }}</td>
                <td>
                  <h2>
                    <a>{{ item.produit.title }}</a>
                  </h2>
                </td>
                <td>
                  <h2>
                    <a>{{ item.produit.price_per_kilo }}</a>
                  </h2>
                </td>
                <td>
                  <h2>
                    <a>{{ item.quantity }}</a>
                  </h2>
                </td>
              </td>
              <td id="price">{{item.price}} DZD</td>
              <td>
                <td class="text-center">
                  <div class="actions">
                    <form  action="{% url 'vendeur:delete_from_poubelle' item.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-danger btn-sm">Delete
                        <i class="fas fa-trash"></i>

                      
                    </form>
                  </div>
                </td>
              </tr>
              {% endfor %}

              <tr>
                <td>-----------</td>
                <td>
                  <h2>
                    <a>>-----------</a>
                  </h2>
                </td>
                <td>
                  <h2>
                    <a>>-----------</a>
                  </h2>
                </td>
                <td>
                  <h2>
                    <a>>-----------</a>
                  </h2>
                </td>
              </td>
              <td id="totalPrice">{{item.price}} DZD</td>
              <td>
                <td class="text-center">
                  >-----------
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Sample array of products (replace with your actual data)
  price = document.querySelectorAll('#price')
  total = 0
  for (let index = 0; index < price.length; index++) {
      const element = price[index];
      total +=  Number(element.innerHTML.split(' ')[0])
  }
  document.getElementById("totalPrice").innerHTML= "Total : "+total+' DZD'


</script>
{% endblock content %}
