{% extends "base.html" %}
{% load static %}
{% block title %} categories {% endblock title %} 
{% block content %}
<div class="comp-sec-wrapper">
  <section class="comp-section comp-cards">
    <div class="section-header">
      <h4 class="section-title">Categories</h4>
      <div class="line"></div>
    </div>
    <div class="row">

      {% for product in products %}
      <div class="col-12 col-md-6 col-lg-4 d-flex">
        <div class="card flex-fill">
          {% if product.image %}
          <img alt="Card Image" src="{{product.image.url}}" class="card-img-top">
          {% else %}
          <img alt="Card Image" src="{% static 'img/No_Image_Available.jpg' %}" class="card-img-top">
          {% endif %}
        <div class="card-header">
        <h5 class="card-title mb-0">{{product.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
         <li class="list-group-item">Weight : {{product.weight}} kg</li>
        <li class="list-group-item">Amount : {{product.price_per_kilo}}</li>
        <li class="list-group-item">Price : {{product.price_per_kilo}} DZD/kg</li>
        </ul>
        <div style="text-align: center;" class="card-body">
          
          <a class="btn btn-primary" href="{% url 'vendeur:details' product.id %}">details</a>
        </div>
        </div>
      </div>
      
      {% endfor %}
    </div>
    </div>
  </section>
</div>
{% endblock content %}
