{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  add collectuer
{% endblock title %}

{% block content %}
<div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add collectuer</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="teachers.html">collectuer</a>
          </li>
          <li class="breadcrumb-item active">Add collectuer</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              {% if messages %}
                        
              <ul class="messages">
                 {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                 {% endfor %}
             </ul>
{% endif %}
              <div class="col-12">
                <h5 class="form-title"><span>Basic Details</span></h5>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>First Name</label>
                  {% render_field form.first_name class="form-control" placeholder='first name' required=true %}
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Last Name</label>
                  {% render_field form.last_name class="form-control" placeholder='first name' required=true %}

                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Age</label>
                  {% render_field form.age class="form-control" placeholder='Age' required=true %}
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Mobile</label>
                  {% render_field form.phone class="form-control" placeholder='phone' required=true %}
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Gender</label>
                  {% render_field form.gender class="form-control" placeholder='phone' required=true %}

                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Profile pic</label>
                  {% render_field form.pic class="form-control" placeholder='phone' required=true %}
                </div>
              </div>
              <div class="col-12">
                <h5 class="form-title"><span>Login Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Email</label>
                  {% render_field form.username class="form-control" placeholder='Email' required=true %}

                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Password</label>
                  {% render_field form.password1 class="form-control"  placeholder='password' required=true %}
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Repeat Password</label>
                  {% render_field form.password2  placeholder='password confirmation' class="form-control"  required=true %}
                </div>
              </div>
              <div class="col-12">
                <h5 class="form-title"><span>Address</span></h5>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Address</label>
                  {% render_field form.address class="form-control" placeholder='address' required=true %}
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}